.Header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  -webkit-box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.2);

}

.AppPage {
  padding-top: 93px;
}

.AppName {
  margin-left: 15px;
}

.topRightWelcome {
  margin: 15px 30px 12px 5px;
}

h1 {
  color: rgb(5, 55, 111);
}

h1:hover {
  color: #166fcd;
}

.Footer {
  color: rgb(203, 203, 203);
  font-size: 13px;
  border-top: 1px solid rgb(53, 53, 53);
}

.isLoading {
  background-color: black;
  border-radius: 20px;
  color: white;
  margin: auto;
  padding: 15px;
  width: 30%;

}

.loadimage {
  width: 15%;
}

.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.08);
  margin-bottom: 25px;
}

.cartImage {
  max-width: 100px;
  margin-right: 20px;
}

.cartItem p {
  flex-grow: 1;
  text-align: center;
}

.pricetag {
  margin-left: auto;
}

.clearCart {
  border: none;
  border-radius: 8px;
  background-color: #a40000;
  color: white;
  padding: 9px;
}

.clearCart:hover {
  background-color: red;
}

/* /product card stil özellikleri/ */

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 11px;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.10);
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.08);
  transition: 500ms;
  user-select: none;
}

.product-card:hover {
  -webkit-box-shadow: 2px 2px 15px 5px rgba(0, 34, 255, 0.1);
  box-shadow: 2px 2px 15px 5px rgba(0, 34, 255, 0.2);
}

.product-card .product-info {
  /* display: flex;
    justify-content: space-between; */
  align-items: center;
  margin-bottom: 10px;
}

.product-card img {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: auto;
}

.product-card h3 {
  font-size: 20px;
}

.product-card p {
  font-size: 14px;
}

.product-page {
  display: flex;
  flex-wrap: wrap;
}

.product-image {
  background-color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 80%;
  max-height: 80%;
}

.product-details {
  flex: 1;
  padding: 40px;
  max-width: 100%;
}

.product-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #166fcd;

}

.user-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.user-details,
.user-location {
  flex: 1 1 50%;
  padding: 20px;
}

.user-details h2,
.user-location h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-info p {
  margin: 5px 0;
}

.goToCart {
  background-color: rgb(5, 55, 111);
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
}

.goToCart:hover {
  background-color: #166fcd;
}

.addCart {

  border: none;
  background-color: rgb(5, 55, 111);
  color: white;
  padding: 6px;
  border-radius: 7px;
}

.addCart:hover {
  background-color: #166fcd;
}

/* next prev butonlar*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagebutton {
  border: none;
  border-radius: 7px;
  margin: 0 10px;
  padding: 7px;
  background-color: #337ab7;
  color: white;
}

.pagebutton:hover {
  background-color: #166fcd;
}

/*login sayfası*/

.input {
  width: 40%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: #166fcd;
}

.addedToCartMessage {
  color: green;

}

/* remove item animasyonlar*/

.slide-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 450ms ease-out, transform 450ms ease-out;
}

@media (max-width: 767px) {
  .Header {

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 22px;
  }

  h3 {
    font-size: 14px;
  }

  .Footer {
    font-size: 9px;
  }

  .itemCounter {
    font-size: 12px;
  }

  .goToCart {
    font-size: 12px;
  }

  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-page {
    flex-direction: column;
  }

  .product-details {
    padding-top: 20px;
  }

  .product-image,
  .product-details {
    flex: 1 1 100%;
  }

  .isLoading {
    background-color: black;
    border-radius: 30px;
    color: white;
    margin: auto;
    padding: 15px;

  }

  .loadimage {
    width: 40%;
  }

  .cartItem {
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.08);
    margin-bottom: 22px;
  }

  .cartImage {
    max-width: 80px;
    margin-right: 13px;
  }

  .cartItem p {
    font-size: 10px;
    flex-grow: 1;
    text-align: center;
    padding: 5px;
  }

  .pricetag {
    font-size: smaller;
    margin-left: auto;
  }

  .input {
    width: 75%;

  }
}