.Container {
  background-color: #f9fcff;
  text-align: center;
  margin: 20px 12%;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 36px 10px rgba(0,0,0,0.14); 
  box-shadow: 5px 5px 36px 10px rgba(0,0,0,0.12);
  border-radius: 20px;
  }

  @media (max-width: 767px) {
    .Container {margin: 12px 6%;}

    
  }
